/* src/App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Previene el scroll horizontal */
}

/* Estilos para el contenedor principal de la aplicación */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenedor principal de contenido, excluye el Navbar y Footer */
.content {
  flex-grow: 1; /* Permite que el contenido ocupe el espacio disponible */
}

/* Animaciones (ya las maneja la librería) */
/* Lo importante es NO tener overflow: hidden; en los contenedores padres */

/* Media Queries para responsividad general */
@media (max-width: 768px) {
  .App {
    padding-top: 50px; /* Espacio para el Navbar fijo en móviles */
  }
}